<% show_post ||= false %>

<div class="row">
  <div class="col-2">
    <div class="card text-center bg-light">
      <div class="card-body">
        <%= render 'comments/up_arrow', comment: comment %>
        <br/>
        <%= comment.total_votes %> votes
        <br/>    
        <%= render 'comments/down_arrow', comment: comment %>
      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="card">
      <div class="card-body">
        <p>
          <em>"<%= comment.body %>"</em>
          <% if show_post %>
            on <%= link_to comment.post.title, post_path(comment.post) %>
          <% end %>
        </p>
        <p>
          <span class="text-muted">by</span> <%= link_to comment.creator.username, user_path(comment.creator) %>
          <span class="text-muted">at <%= display_datetime(comment.created_at) %></span>
        </p>
      </div>
    </div>
  </div>
</div>