<div class="row">
  <% if logged_in? %>
    <div class="col-sm-2">
      <div class="card text-center bg-light">
        <div class="card-body">
          <%= render 'up_arrow', post: post %>
          <br/>
          <%= post.total_votes  %> votes
          <br/>
          <%= render 'down_arrow', post: post %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-sm-10">
    <div class="card">
      <div class="card-header">
        <%= render post.categories %>
        <h5><%= link_to post.title, fix_url(post.url) %></h5>
      </div>
      <div class="card-body">
        <p class="card-text"><%= post.description %></p>
        <p>
          <span class="text-muted">posted by</span> <%= link_to post.creator.username, user_path(post.creator) %>
          <span class="text-muted">at <%= display_datetime(post.created_at) %></span>
        </p>
        <small>
          <span>
            <%= link_to("#{post.comments.size} comments", post_path(post)) %>
          </span>
        </small>
      </div>
    </div>
  </div>
</div>