<p class='lead'>All Posts</p>
</hr>

<% @posts.each do |post| %>
  <div class="card">
    <div class="card-header">
      <% post.categories.each do |category| %>
        <span class="badge badge-primary"><%= category.name %></span>
      <% end %>
      <h5><%= link_to post.title, post.url %></h5>
    </div>
    <div class="card-body">
      <p class="card-text"><%= post.description %></p>
      <p>
        <span class="text-muted">posted by</span> <%= post.creator.username %>
        <small>at <%= post.created_at %></small>
      </p>
      <small>
        <span>
          <%= link_to("#{post.comments.size} comments", post_path(post)) %>
        </span>
      </small>
    </div>
  </div>
<% end %>