<!DOCTYPE html>
<html>
  <head>
    <title>Postit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- old 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    -->

    <!-- new -->
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
